:root {
--main-font: #757575;
--company-blue: #2196F3;
--company-black: #000000;
--company-white: #ffffff;

}
.logo {
    text-decoration: none;
}
.logo-blue {
    color: var(--company-blue);
}
.logo-black {
    color: var(--company-black);
}
body {
    font-family: "roboto" , sans-serif ;
    font-size: 14px;
    font-weight: 400;
    color: var(--main-font);
}
